
    <!-- Footer -->
    <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                      All designs, photos, and assets are Copyright &copy; Marc Bünder.
                    </div>
                    <div class="col-sm-2 designer">
                      Designed by<br/>
                      <span class="leemulvey-wordmark">
                        <a href="http://www.leemulvey.com">Lee Mulvey</a>
                      </span>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </footer>
    
        <!-- jQuery -->
        <script src="/js/jquery.js"></script>
        <!-- Choclat.js -- jquery gallery plugin -->
        <script type="text/javascript" src="/js/jquery.chocolat.js"></script>
        <script>
          $(document).ready(function(){
            $('.chocolat-parent').Chocolat({
              loop: true
            });
          });
        </script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/js/bootstrap.min.js"></script>

        <% if(config.isHome) { %>
          <!-- setup for rotating image -->
          <script src="/js/rotatingImages.js"></script>
        <% } %>
    </body>
    
    </html>
    