<% include partials/_header %>
<div class="container">
        
        <div class="col-sm-6 col-sm-offset-3">
        
            <h1><span class="fa fa-hand-peace-o"></span> Welcome, <%= user.local.firstName %>!</h1>
            <p>Click on a gallery below to see the photos, edit them, 
                or click the <strong>upload</strong> button to add photos.
                </p>
            <hr>
            <a href="/admin/photos/upload">Upload Photos</a> | 
            <a href="/admin/galleries/create">Create Gallery</a>
            <br /><br />
            
            <% if(galleries.length === 0) { %>
                <strong>No active galleries.</strong>
            <% } %>
            
            <% galleries.forEach((gallery) => { %>
                <strong><a href="/admin/galleries/<%=gallery.info.url%>"><%=gallery.info.name%></a></strong>
                 - <em><%=gallery.info.description%></em><br/>
            <% }) %>
    
            <hr>
            <a href="/admin/logout"<i class="fa fa-logout" />Logout</a>
        
        </div>
        
        </div>
<% include partials/_footer %>