<% include partials/_header %>
<div class="container">
        
        <div class="col-sm-6 col-sm-offset-3">
        
            <h1><span class="fa fa-hand-peace-o"></span> Welcome!</h1>
            <p>Click on a gallery below to see the photos, edit them, 
                or click the <strong>upload</strong> button to add photos.
                </p>
            <hr>
            <a href="./upload">Upload Images</a><br />
            <strong><a href="./galleries/kitchens">Kitchens Gallery</a></strong><br />
            <strong><a href="./galleries/bathrooms">Bathrooms Gallery</a></strong><br />
            <strong><a href="./galleries/others">Others Gallery</a></strong><br />
    
            <hr>
            <a href="./admin/logout"<i class="fa fa-logout" />Logout</a>
        
        </div>
        
        </div>
<% include partials/_footer %>