<% include partials/_header %>
<% include partials/_admin_navbar %>
<div class="container">
        
        <div class="col-sm-10 col-sm-offset-1">
        
            <h1><span class="fa fa-hand-peace-o"></span> Welcome, <%= user.local.firstName %>!</h1>
            <p>Click on a gallery below to see the photos, edit them, 
                or click the <strong>upload</strong> button to add photos.
                </p>
            <hr>
            
            <% if(galleries.length === 0) { %>
                <strong>No active galleries.</strong>
            <% } %>
            
            <div class="other-galleries-button">
            <h1>Available Galleries</h1>
            <% galleries.forEach((gallery) => { %>
            <a href="/admin/galleries/<%=gallery.info.url%>">
                <div class="col-sm-3 col-sm-offset-1 largetext-button">
                    <span class="smaller"><%=gallery.info.name%></span>
            </div></a>
            <% }) %>
        </div>
        </div>
        
        </div>
<% include partials/_footer %>