<% include partials/_header.ejs %>
    <!-- Buttons for Galleries -->
    <section>
      <div class="container">
        <div class="row">
          <a href="./gallery/bathrooms"><div class="col-lg-4 button-bathrooms largetext-button">
            Bathrooms
          </div></a>
        <a href="./gallery/kitchens"> <div class="col-lg-4 button-kitchens largetext-button">
            Kitchens
          </div></a>
        <a href="./gallery/others"> <div class="col-lg-4 button-others reduced-line-height largetext-button">
            Other Creations
          </div></a>
        </div>
      </div>
    </section>


  <!-- Content Section -->
  <section>
      <div class="container">
          <div class="row intro">
            <div class="col-sm-12 carp-logo">
              <img src="./img/carp-logo.png">
                  <h1>Triple C Woodworx</h1>
                  <p>
<strong>Design</strong>, <strong>functionality</strong>, and <strong>finishing</strong> give every home its unique personality. 
At <strong><u>Triple C Woodworx</u></strong>, our priority is to find the perfect balance of these key components to fit your needs.
Let us help you get the most out of your home renovation. Contact us today to start your unique creation!
                  </p>
              </div>
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container -->
  </section>
<% include partials/_footer.ejs %>