<% include partials/_header.ejs %>
    <!-- Buttons for Galleries -->
    <section>
      <div class="container">
        <div class="row">
          <a href="./gallery/bathrooms"><div class="col-lg-4 button-bathrooms largetext-button">
            <span>Bathrooms</span>
          </div></a>
        <a href="./gallery/kitchens"> <div class="col-lg-4 button-kitchens largetext-button">
            <span>Kitchens</span>
          </div></a>
        <a href="./gallery/others"> <div class="col-lg-4 button-others largetext-button">
            <span>Others</span>
          </div></a>
        </div>
      </div>
    </section>


  <!-- Content Section -->
  <section>
      <div class="container">
          <div class="row intro">
            <div class="col-sm-2 carp-logo">
              <img src="./img/carp-logo.png">
            </div>
              <div class="col-sm-10">
                  <h1>Triple C Woodworx</h1>
                  <p>
<strong>Design</strong>, <strong>functionality</strong>, and <strong>finishing</strong> give every home its unique personality. 
At <strong><u>Triple C Woodworx</u></strong>, our priority is to find the perfect balance of these key components to fit your needs.
<br />Let us help you get the most out of your home renovation. Contact us today to start your unique creation!
                  </p>
              </div>
          </div>
          <!-- /.row -->
      </div>
      <!-- /.container -->
  </section>
<% include partials/_footer.ejs %>