html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Proxima Nova', Helvetica, sans-serif;
  background: url("../img/walnutbg-comp.png") no-repeat center center;
  background-size: cover;
  color: #748391;
  margin-bottom: 100px; }


.photoEdit {
  position: relative;
  top: 207px;
  margin: -150px auto 0 auto;
  background-color: rgba(36, 73, 88, 0.5);
  border-radius: 5px;
  padding: 14px 0;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.photoEdit .form-control {
  width: 75%;
  margin: 0 auto;
}

.photoEdit label {
  padding-left: 12%;
  color: white;
  text-shadow: 2px 2px 0px #1d2124;
  font-size: 1.1em;
}

.navbar {
  padding-top: 25px;
  margin: 0;
  border: none;
  text-align: center;
  vertical-align: middle; }

.tagline {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 1.5em;
  display: inline; }

.navbar-nav {
  float: right; }

.navbar-contact {
  padding: 1em;
  background-color: rgba(51, 54, 60, 0.5);
  border-radius: 10px; }
  .navbar-contact i {
    color: #fff; }

.navbar-left, .navbar-icon, .navbar-address {
  display: inline-block;
  vertical-align: middle; }

.navbar-email, .navbar-phone {
  text-align: left; }

.navbar-address {
  text-align: right;
  vertical-align: middle;
  margin-left: 1em;
  padding-left: 1em;
  border-left: #595b60 solid 2px; }

.navbar-icon {
  width: 2em;
  float: left;
  padding-right: 1em; }

.navbar-address .navbar-icon {
  width: auto; }

.navbar {
  background: none; }

section {
  margin: 25px auto; }

.intro {
  padding: 2.5em 0;
  background-color: #1d2124;
  border-radius: 10px; }

.section-heading {
  font-size: 3.327em;
  font-weight: bold;
  line-height: 0.1em;
  margin-bottom: 0.5em;
  margin-top: 0.7em;
  color: white; }

.section-paragraph {
  line-height: 1.4em;
  font-size: 1.3em; }

.carp-logo {
  margin-top: 2em; }

.largetext-button {
  font-size: 3em;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 2px 3px 1px #1d2124;
  color: white;
  padding: 0.3em;
  text-align: center;
  background-color: #2d3237;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5;
  margin-bottom: 25px; }

.other-galleries-button .largetext-button {
  border-radius: 10px; }

.button-bathrooms, .button-kitchens, .button-others {
  text-align: center;
  height: 350px;
  padding-top: 3.3em;
  transition: opacity 0.2s linear,  font-size 0.2s linear, background 0.2s linear;
  -webkit-transition: opacity 0.2s linear,  font-size 0.2s linear, background 0.2s linear;
  -moz-transition: opacity 0.2s linear,  font-size 0.2s linear, background 0.2s linear;
  -o-transition: opacity 0.2s linear,  font-size 0.2s linear, background 0.2s linear; }

.button-bathrooms:hover, .button-kitchens:hover {
  opacity: 0.6;
  color: #f1f1f1;
  font-size: 3.1em;
  padding-top: 3.2em; }

.button-others:hover {
  opacity: 0.6;
  color: #f1f1f1;
  font-size: 3.1em;
  padding-top: 3.2em;
  padding-top: 2.6em; }

.button-bathrooms, .button-kitchens {
  background-size: cover; }

.button-others {
  background-size: cover;
  font-size: 3em;
  padding-top: 2.7em; }

.gallery-button {
  padding: 1em 0;
  margin-bottom: 1em;
  background-color: #2d3237;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s; }
  .gallery-button:hover {
    background-color: #1d2124; }

.largetext-button:hover {
  background-color: #1d2124; }

.bathrooms-slider, .kitchens-slider, .others-slider {
  position: absolute;
  bottom: 0;
  background-color: #111416;
  color: #748391;
  font-size: 0.5em;
  padding-top: 3.5em;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .3s ease;
  left: 100%;
  right: 0; }

.bathrooms-slider span, .kitchens-slider span, .others-slider span {
  display: block;
  text-transform: none;
  font-size: 0.8em;
  padding: 0 1.8em; }

.bathrooms-slider small, .kitchens-slider small, .others-slider small {
  display: block; }

.bathrooms-slider h1, .kitchens-slider h1, .others-slider h1 {
  line-height: 0.6em;
  font-weight: bold;
  color: #fff; }

.thumb {
  transition: 0.5s;
  margin-bottom: 25px; }
  .thumb:hover {
    opacity: 0.6; }

.thumbnail {
  background-color: none; }

footer {
  position: absolute;
  bottom: 0;
  height: 80px;
  padding: 1.5em;
  width: 100%;
  background-color: #111416; }
  footer .fa:hover {
    color: white; }
  footer i {
    padding: 0 0.1em; }
  footer .designer {
    text-align: right;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.3em;
    float: right; }
  footer .amlm-wordmark {
    font-family: flood-std, sans-serif;
    font-weight: normal;
    font-size: 1.4em;
    color: #e71d36; }


    .dropzone, .dropzone * {
      box-sizing: border-box; }
    
    .dropzone {
      position: relative; }
      .dropzone .dz-preview {
        position: relative;
        display: inline-block;
        width: 120px;
        margin: 0.5em; }
        .dropzone .dz-preview .dz-progress {
          display: block;
          height: 15px;
          border: 1px solid #aaa; }
          .dropzone .dz-preview .dz-progress .dz-upload {
            display: block;
            height: 100%;
            width: 0;
            background: green; }
        .dropzone .dz-preview .dz-error-message {
          color: red;
          display: none; }
        .dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
          display: block; }
        .dropzone .dz-preview.dz-success .dz-success-mark {
          display: block; }
        .dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
          position: absolute;
          display: none;
          left: 30px;
          top: 30px;
          width: 54px;
          height: 58px;
          left: 50%;
          margin-left: -27px; }

@media (max-width: 768px) {
  body {
    margin-bottom: 185px; }
  section, .row {
    padding: 0.3em; }
  section {
    padding-top: 25px;
    padding-bottom: 25px; }
  .section-heading {
    font-size: 2em; }
  .navbar-nav {
    float: none; }
  .navbar-address {
    border: none; }
  .navbar-contact {
    margin: 0 auto;
    display: block;
    padding: 0.5em; }
  section .row, .other-galleries {
    text-align: center; }
  footer {
    height: 185px;
    text-align: center; }
    footer .col-sm-3 {
      margin-top: 1em; }
    footer .designer {
      float: none;
      display: block;
      text-align: center;
      margin: 1em 0 0 0; } }

@media (max-width: 635px) {
  .tagline {
    display: block;
    text-align: center;
    margin: 0.5em; } }
