html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Open Sans', 'Hevetica', sans-serif;
  background: url("../img/walnutbg-comp.png") no-repeat center center fixed;
  background-size: cover;
  font-size: 100%;
  line-height: 1.618;
  color: #748391;
  margin-bottom: 100px;
  vertical-align: baseline; }

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

h1, h2, h3, h4, h5 {
  color: white;
  line-height: 1em;
  margin-bottom: 0.609em;
  font-family: 'Fjalla One', 'Helvetica', sans-serif;
}

h1 {
  font-size: 4.236em;
  font-weight: 700;
}

p {
  margin-bottom: 1.618em;
  line-height: 1.618;
}

header {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 25px;
}

.container {
  font-size: 1.3em;
  line-height: 1.25;
}

.admin-navbar {
  margin-top: 25px;
  background-color: rgba(36, 73, 88, 1);
  border-radius: 5px;
  font-size: 1.6em;
  padding: 15px;
}

.smaller {
  font-size: 65%;
  line-height: 0;
}

.admin-navbar li a {
  color: white;
}

.inline-headers {
  display: inline-block;
}

.admin-navbar li a:hover {
  color: #748391;
}

.admin-navbar li:not(:last-child) {
  margin-right: 15px;
}

.delete-outline {
  box-shadow: 0px 0px 20px red;
}

.deletion {
  font-size: 20px;
  color: red;
  text-align: center;
  text-shadow: 2px 2px 0px black;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: -55px;
  top: 55px;
}

.photoEdit {
  position: relative;
  top: 207px;
  margin: -150px auto 0 auto;
  background-color: rgba(36, 73, 88, 0.5);
  padding: 20px 0;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.photoEdit .form-control {
  width: 75%;
  margin: 0 auto;
}

.photoEdit label {
  padding-left: 12%;
  color: white;
  text-shadow: 2px 2px 0px #1d2124;
  font-size: 1.1em;
}

.navbar {
  padding-top: 25px;
  margin: 0;
  border: none;
  text-align: center;
  vertical-align: middle;
  font-size: 0.8em; }

.tagline {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 1.5em;
  display: inline; }

.navbar-nav {
  float: right; }

.navbar-contact {
  padding: 1em;
  background-color: rgba(51, 54, 60, 0.5);
  border-radius: 10px; }
  .navbar-contact i {
    color: #fff; }

.navbar-left, .navbar-icon, .navbar-address {
  display: inline-block;
  vertical-align: middle; }

.navbar-email, .navbar-phone {
  text-align: left; }

.navbar-address {
  text-align: right;
  vertical-align: middle;
  margin-left: 1em;
  padding-left: 1em;
  border-left: #595b60 solid 2px; }

.navbar-icon {
  width: 2em;
  float: left;
  padding-right: 1em; }

.navbar-address .navbar-icon {
  width: auto; }

.navbar {
  background: none; }

section {
  margin: 0 auto; }

.intro {
  padding: 2.5em 0;
  text-align: center;}

.intro p {
  font-size: 1.5em;
}

.intro h1 {
  font-size: 4.7em;
  text-shadow: 2px 2px 1px #1d2124;
}
  
.largetext-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  font-weight: bolder;
  text-transform: uppercase;
  text-shadow: 4px 4px 1px #1d2124;
  color: white;
  text-align: center;
  background-color: #2d3237;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5;
  margin-bottom: 25px; 
  padding: 25px; }

.other-galleries-button .largetext-button {
  border-radius: 10px; }

.button-others.reduced-line-height {
  line-height: 75px;
  padding-top: 100px;
}

.button-bathrooms, .button-kitchens, .button-others {
  text-align: center;
  background-size: cover;
  height: 350px;
  line-height: 350px;
  font-size: 4em;
  font-weight: 800;
  padding: 0;
  transition: opacity 0.2s linear,  font-size 0.2s linear, background 0.2s linear;
  -webkit-transition: opacity 0.2s linear,  font-size 0.2s linear, background 0.2s linear;
  -moz-transition: opacity 0.2s linear,  font-size 0.2s linear, background 0.2s linear;
  -o-transition: opacity 0.2s linear,  font-size 0.2s linear, background 0.2s linear; }

.button-bathrooms:hover, .button-kitchens:hover, .button-others:hover  {
  opacity: 0.6;
  color: #f1f1f1;
  font-size: 4.1em;}

.gallery-button {
  padding: 1em 0;
  margin-bottom: 1em;
  background-color: #2d3237;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s; }
  .gallery-button:hover {
    background-color: #1d2124; }

.largetext-button:hover {
  background-color: #1d2124; }

.bathrooms-slider, .kitchens-slider, .others-slider {
  position: absolute;
  bottom: 0;
  background-color: #111416;
  color: #748391;
  font-size: 0.5em;
  padding-top: 3.5em;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .3s ease;
  left: 100%;
  right: 0; }

.bathrooms-slider span, .kitchens-slider span, .others-slider span {
  display: block;
  text-transform: none;
  font-size: 0.8em;
  padding: 0 1.8em; }

.bathrooms-slider small, .kitchens-slider small, .others-slider small {
  display: block; }

.bathrooms-slider h1, .kitchens-slider h1, .others-slider h1 {
  line-height: 0.6em;
  font-weight: bold;
  color: #fff; }

.thumb {
  transition: 0.5s;
  margin-bottom: 25px; }
  .thumb:hover {
    opacity: 0.6; }

.thumbnail {
  background-color: none; }

footer {
  position: absolute;
  bottom: 0;
  font-size: 1.2em;
  height: 80px;
  padding: 1.8em;
  width: 100%;
  background-color: #111416; }
  footer .designer {
    text-align: right;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2em;
    float: right; }
  footer .leemulvey-wordmark {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 1em;
    }
    .leemulvey-wordmark a {
      color: #e71d36; 
    }


    .dropzone, .dropzone * {
      box-sizing: border-box; }
    
    .dropzone {
      position: relative; }
      .dropzone .dz-preview {
        position: relative;
        display: inline-block;
        width: 120px;
        margin: 0.5em; }
        .dropzone .dz-preview .dz-progress {
          display: block;
          height: 15px;
          border: 1px solid #aaa; }
          .dropzone .dz-preview .dz-progress .dz-upload {
            display: block;
            height: 100%;
            width: 0;
            background: green; }
        .dropzone .dz-preview .dz-error-message {
          color: red;
          display: none; }
        .dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark {
          display: block; }
        .dropzone .dz-preview.dz-success .dz-success-mark {
          display: block; }
        .dropzone .dz-preview .dz-error-mark, .dropzone .dz-preview .dz-success-mark {
          position: absolute;
          display: none;
          left: 30px;
          top: 30px;
          width: 54px;
          height: 58px;
          left: 50%;
          margin-left: -27px; }

@media (max-width: 768px) {
  body {
    margin-bottom: 185px; }
  section, .row {
    padding: 0.3em; }
  section {
    padding-top: 25px;
    padding-bottom: 25px; }
  .section-heading {
    font-size: 2em; }
  .navbar-nav {
    float: none; }
  .navbar-address {
    border: none; }
  .navbar-contact {
    margin: 0 auto;
    display: block;
    padding: 0.5em; }
  section .row, .other-galleries {
    text-align: center; }
  footer {
    height: 185px;
    text-align: center; }
    footer .col-sm-3 {
      margin-top: 1em; }
    footer .designer {
      float: none;
      display: block;
      text-align: center;
      margin: 1em 0 0 0; } }

@media (max-width: 635px) {
  .tagline {
    display: block;
    text-align: center;
    margin: 0.5em; } }

    @media (min-width: 43.75em) {
      #page {
        font-size: 1em;
        /* equivalent to 16px */
        line-height: 1.375;
        /* equivalent to 22px */
      }
    }
    
    h1 {
      font-size: 2em;
      /* 2x body copy size = 32px */
      line-height: 1.25;
      /* 45px / 36px */
    }
    
    @media (min-width: 43.75em) {
      h1 {
        font-size: 2.5em;
        /* 2.5x body copy size = 40px */
        line-height: 1.125;
      }
    }
    
    @media (min-width: 56.25em) {
      h1 {
        font-size: 3em;
        /* 3x body copy size = 48px */
        line-height: 1.05;
        /* keep to a multiple of the 20px line height and something more appropriate for display headings */
      }
    }
    
    h2 {
      font-size: 1.625em;
      /* 1.625x body copy size = 26px */
      line-height: 1.15384615;
      /* 30px / 26px */
    }
    
    @media (min-width: 43.75em) {
      h2 {
        font-size: 2em;
        /* 2x body copy size = 32px */
        line-height: 1.25;
      }
    }
    
    @media (min-width: 56.25em) {
      h2 {
        font-size: 2.25em;
        /* 2.25x body copy size = 36px */
        line-height: 1.25;
      }
    }
    
    h3 {
      font-size: 1.375em;
      /* 1.375x body copy size = 22px */
      line-height: 1.13636364;
      /* 25px / 22px */
    }
    
    @media (min-width: 43.75em) {
      h3 {
        font-size: 1.5em;
        /* 1.5x body copy size = 24px */
        line-height: 1.25;
      }
    }
    
    @media (min-width: 56.25em) {
      h3 {
        font-size: 1.75em;
        /* 1.75x body copy size = 28px */
        line-height: 1.25;
      }
    }
    
    h4 {
      font-size: 1.125em;
      /* 1.125x body copy size = 18px */
      line-height: 1.11111111;
    }
    
    @media (min-width: 43.75em) {
      h4 {
        line-height: 1.22222222;
        /* (22px / 18px */
      }
    }
    
    blockquote {
      font-size: 1.25em;
      /* 20px / 16px */
      line-height: 1.25;
      /* 25px / 20px */
    }
    
    @media (min-width: 43.75em) {
      blockquote {
        font-size: 1.5em;
        /* 24px / 16px = */
        line-height: 1.45833333;
        /* 35px / 24px */
      }
    }
