<% include partials/_header %>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1><strong>Others</strong> Gallery</h1>
        </div>
        <div class="chocolat-parent" data-chocolat-title="Other Designs by Marc Bünder">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="chocolat-image" href="/img/other/1.jpg" title="Other 1">
                        <img class="img-responsive" src="/img/other/1_thumb.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="chocolat-image" href="/img/other/20.jpg" title="Closet Unit - White">
                            <img class="img-responsive" src="/img/other/20_thumb.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="chocolat-image" href="/img/other/21.jpg" title="Custom Closet Unit - Glazed White">
                            <img class="img-responsive" src="/img/other/21_thumb.jpg" alt="">
                        </a>
                    </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="chocolat-image" href="/img/other/2.jpg" title="Other 2">
                        <img class="img-responsive" src="/img/other/2_thumb.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="chocolat-image" href="/img/other/24.jpg" title="Staircase - Light Walnut">
                            <img class="img-responsive" src="/img/other/24_thumb.jpg" alt="">
                        </a>
                    </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="chocolat-image" href="/img/other/23.jpg" title="Staircase - Light Walnut">
                            <img class="img-responsive" src="/img/other/23_thumb.jpg" alt="">
                        </a>
                    </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="chocolat-image" href="/img/other/4.jpg" title="Other 4">
                        <img class="img-responsive" src="/img/other/4_thumb.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="chocolat-image" href="/img/other/22.jpg" title="Display Furniture - White Oak and Walnut">
                            <img class="img-responsive" src="/img/other/22_thumb.jpg" alt="">
                        </a>
                    </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="chocolat-image" href="/img/other/6.jpg" title="Other 6">
                        <img class="img-responsive" src="/img/other/6_thumb.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="chocolat-image" href="/img/other/17.jpg" title="Built-in Storage - White">
                            <img class="img-responsive" src="/img/other/17_thumb.jpg" alt="">
                        </a>
                    </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="chocolat-image" href="/img/other/7.jpg" title="Basement Bar - Cedar">
                        <img class="img-responsive" src="/img/other/7_thumb.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="chocolat-image" href="/img/other/26.jpg" title="TV Unit - Clear Finish, Walnut">
                            <img class="img-responsive" src="/img/other/26_thumb.jpg" alt="">
                        </a>
                    </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="chocolat-image" href="/img/other/14.jpg" title="Round Table around Concrete Pillar - Walnut">
                        <img class="img-responsive" src="/img/other/14_thumb.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="chocolat-image" href="/img/other/25.jpg" title="TV Unit - Clear Finish, Walnut">
                        <img class="img-responsive" src="/img/other/25_thumb.jpg" alt="">
                    </a>
                </div>
                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                        <a class="chocolat-image" href="/img/other/27.jpg" title="TV Unit - Clear Finish, Walnut">
                            <img class="img-responsive" src="/img/other/27_thumb.jpg" alt="">
                        </a>
                </div>
        </div>
    </div>
</div>

 <!-- other Gallery Links -->
 <div class="container other-galleries-button">
    <div class="row">
        <div class="col-sm-12 other-galleries">
            <h1><strong>Other</strong> Galleries</h1>
        </div>
    </div>
    <div class="row">
        <a href="/gallery/bathrooms"><div class="col-sm-4 col-sm-offset-1 largetext-button">
        <span>Bathrooms</span>
        </div></a>
    <a href="/gallery/kitchens"> <div class="col-sm-5 col-sm-offset-1 largetext-button">
        <span>Kitchens</span>
        </div></a>
    </div>
</div>
<!-- /.other Gallery Links -->

<% include partials/_footer %>