<% include partials/_header %>

     <!-- Buttons for Galleries -->
     <section>
            <div class="container">
              <div class="row">
                <a href="?bathrooms"><div class="col-lg-4 button-bathrooms largetext-button">
                  <span>Bathrooms</span>
                </div></a>
              <a href="?kitchens"> <div class="col-lg-4 button-kitchens largetext-button">
                  <span>Kitchens</span>
                </div></a>
              <a href="?others"> <div class="col-lg-4 button-others largetext-button">
                  <span>Other Creations</span>
                </div></a>
              </div>
            </div>
    </section>
      

<% include partials/_footer %>