<% include partials/_header %>

<!-- Page Content -->
<div class="container">
    <div class="row">

        <div class="col-lg-12">
            <h1><strong>Kitchens</strong> Gallery</h1>
        </div>
            <div class="chocolat-parent" data-chocolat-title="Kitchen Designs by Marc Bünder">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/kitchen/1.jpg" title="Kitchen 1">
                    <img class="img-responsive" src="/img/kitchen/1_thumb.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/kitchen/2.jpg" title="Kitchen 2">
                    <img class="img-responsive" src="/img/kitchen/2_thumb.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/kitchen/3.jpg" title="Kitchen 3">
                    <img class="img-responsive" src="/img/kitchen/3_thumb.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/kitchen/5.jpg" title="Kitchen 5">
                    <img class="img-responsive" src="/img/kitchen/5_thumb.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="chocolat-image" href="/img/kitchen/16.jpg" title="Shaker - Dark Walnut">
                        <img class="img-responsive" src="/img/kitchen/16_thumb.jpg" alt="">
                    </a>
                </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/kitchen/7.jpg" title="Kitchen 7">
                    <img class="img-responsive" src="/img/kitchen/7_thumb.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/kitchen/9.jpg" title="Kitchen 9">
                    <img class="img-responsive" src="/img/kitchen/9_thumb.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/kitchen/10.jpg" title="Kitchen 10">
                    <img class="img-responsive" src="/img/kitchen/10_thumb.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/kitchen/11.jpg" title="Kitchen 11">
                    <img class="img-responsive" src="/img/kitchen/11_thumb.png" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="chocolat-image" href="/img/kitchen/17.jpg" title="Shaker - Light Walnut">
                        <img class="img-responsive" src="/img/kitchen/17_thumb.jpg" alt="">
                    </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/kitchen/13.jpg" title="Mitered, Glazed White Kitchen">
                    <img class="img-responsive" src="/img/kitchen/13_thumb.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="chocolat-image" href="/img/kitchen/8.jpg" title="Kitchen 8">
                        <img class="img-responsive" src="/img/kitchen/8_thumb.png" alt="">
                    </a>
                </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/kitchen/20.jpg" title="Shaker - Pure White">
                    <img class="img-responsive" src="/img/kitchen/20_thumb.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/kitchen/21.jpg" title="Shaker - Pure White">
                    <img class="img-responsive" src="/img/kitchen/21_thumb.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/kitchen/22.jpg" title="Shaker - Pure White">
                    <img class="img-responsive" src="/img/kitchen/22_thumb.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

 <!-- Other Gallery Links -->
 <div class="container">
    <div class="row">
        <div class="col-sm-12 other-galleries">
            <h1><strong>Other</strong> Galleries</h1>
        </div>
    </div>
    <div class="row">
        <a href="/gallery/bathrooms"><div class="col-sm-4 col-sm-offset-1 largetext-button">
        <span>Bathrooms</span>
        </div></a>
    <a href="/gallery/others"> <div class="col-sm-5 col-sm-offset-1 largetext-button">
        <span>Other Creations</span>
        </div></a>
    </div>
</div>
<!-- /.Other Gallery Links -->

<% include partials/_footer %>