<% include partials/_header %>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1><strong>Bathroom</strong> Galleryy</h1>
        </div>
        <div class="chocolat-parent" data-chocolat-title="bathroom Designs by Marc Bünder">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/bathroom/1.jpg" title="bathroom 1">
                    <img class="img-responsive" src="/img/bathroom/1_thumb.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/bathroom/2.jpg" title="bathroom 2">
                    <img class="img-responsive" src="/img/bathroom/2_thumb.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/bathroom/3.jpg" title="bathroom 3">
                    <img class="img-responsive" src="/img/bathroom/3_thumb.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="chocolat-image" href="/img/bathroom/4.jpg" title="bathroom 4">
                    <img class="img-responsive" src="/img/bathroom/4_thumb.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</div>

 <!-- Other Gallery Links -->
 <div class="container">
    <div class="row">
        <div class="col-sm-12 other-galleries">
            <h1><strong>Other</strong> Galleries</h1>
        </div>
    </div>
    <div class="row">
        <a href="/gallery/kitchens"><div class="col-sm-4 col-sm-offset-1 gallery-button intro">
        <span class="largetext-button">Kitchens</span>
        </div></a>
    <a href="/gallery/others"> <div class="col-sm-5 col-sm-offset-1 gallery-button intro">
        <span class="largetext-button">Other Creations</span>
        </div></a>
    </div>
</div>
<!-- /.Other Gallery Links -->

<% include partials/_footer %>